.fo-con{
    margin-top: 0%;
    margin-left: 0%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    width: 450px;
    max-width: 108%;
    padding-bottom: 20px;
}

h2{
    margin: 30px 83px;
    margin-bottom: -6%;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    margin-top: 45px;
    text-align: center;
}

.input-fields {
    width: 100%;
    height: 50px;
    background: #eee;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.input-fields input {
    flex: 5;
    background: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-left: 30px;
    border: none;
}

.subB{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-left: 34%;
}